body {
	background-color: #DDD;
	background-image: url();
	background-position: center;
	margin: 0;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	text-indent: 50px;
	text-align: justify;
}

.body_table {
	margin: auto;
	background-color: #FFF;
	border-spacing: 0;
}

/*HEADER ON*/

.header {
	background-color: #FFF;
}

.logo_td {
	text-align: center;
}

.header_image_td {
	height: 180;
	background-image: url("image/header.jpg");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

.header_link {
	color: #000;
	font-family: 'Russo One', sans-serif;
	font-size: 80px;
	text-decoration: none;
	text-shadow: -1px -1px white, -1px 1px white, 1px -1px white, 1px 1px #FFF;
}

.qr_td {
	text-align: center;
}


/*HEADER OFF*/

.tr_space {
	height: 40;
}

.td_space {
	width: 38; /*1-й костыль 2 часть, вместо width: 40; padding: 0; ради экономии места написано width: 38;*/
}

/*NAV ON*/

.nav {
	
}

.nav_button {
	height: 70;
	width: 270;
	background-color: #EEE;
	padding: 0; /*1-й костыль 1 часть, неясно как padding ДЛЯ ВСЕХ ячеек ОДНОЙ таблицы задать*/
	text-align: center;
	transition: 0.1s;
}

.nav_button:hover {
	transform: scale(1.1);
}

.nav_button_link {
	color: #000;
	font-family: 'Russo One', sans-serif;
	font-size: 40px;
	text-decoration: none;

}

/*NAV OFF*/

.article {
	height: 1200; /*КОСТЫЛЬ чтобы footer был у нижнего края*/
	vertical-align: top;
	width: 1200;
	padding: 0;
}

.footer {
	height: 70;
	background-color: #EEE;
	font-color: #DDD
	font-size: 10px;
	text-indent: 0px;
	text-align: center;
}